/*
 *	Author: Florian Abensperg-Traun <flo@floriantraun.at>
 *	Version: 2017-09-21
 *	Website: https://floriantraun.at/
 *
 *	All Rights Reserved.
*/

.flipbook {
	cursor: pointer;
	width: 100%;
	line-height: 0;

	.page {
		width: 50%;
		float: left;
		display: none;

		&.active {
			display: block;
		}
	}

	&::after {
		clear: both;
		float: none;
		content: "";
		display: block;
	}
}
